.p-button{
	background-color: var(--blue-600);
	border: 1px solid var(--blue-600);
}
.p-button:hover{
	background-color: var(--blue-800);
	border: 1px solid var(--blue-800);
}
.p-button:active{
	background-color: var(--blue-800);
	border: 1px solid var(--blue-800);
}
.p-button:focus{
	background-color: var(--blue-800);
	border: 1px solid var(--blue-800);
}
.p-button:disabled{
	background-color: var(--blue-600);
	border: 1px solid var(--blue-600);
}
.p-button:disabled:hover{
	background-color: var(--blue-600);
	border: 1px solid var(--blue-600);
}
.p-button:disabled:active{
	background-color: var(--blue-600);
	border: 1px solid var(--blue-600);
}
.p-button:disabled:focus{
	background-color: var(--blue-600);
	border: 1px solid var(--blue-600);
}

.p-button:enabled:hover, .p-button:not(button):not(a):not(.p-disabled):hover {
	background: var(--blue-700);
	color: #ffffff;
	border-color: var(--blue-700);
}
