

.p-button{
	background-color: #0080ff;
	border: 1px solid #0080ff;
}
.p-button:enabled:hover, .p-button:not(button):not(a):not(.p-disabled):hover {
	background: #2563eb;
	color: white;
	border-color: #2563eb;
  }

.p-button:enabled:hover, .p-button:not(button):not(a):not(.p-disabled):hover {
	background: #2563eb;
	color: white;
	border-color: #2563eb;
} 

.p-button.p-button-warning, .p-buttonset.p-button-warning > .p-button, .p-splitbutton.p-button-warning > .p-button, .p-fileupload-choose.p-button-warning > .p-button, .p-button-warning > .p-button {
	background-color: #ffcc00;
	color: white;
	border: 1px solid var(--yellow-500);
}

.p-button.p-button-warning:enabled:hover, .p-button.p-button-warning:not(button):not(a):not(.p-disabled):hover, .p-buttonset.p-button-warning > .p-button:enabled:hover, .p-buttonset.p-button-warning > .p-button:not(button):not(a):not(.p-disabled):hover, .p-splitbutton.p-button-warning > .p-button:enabled:hover, .p-splitbutton.p-button-warning > .p-button:not(button):not(a):not(.p-disabled):hover, .p-fileupload-choose.p-button-warning:enabled:hover, .p-fileupload-choose.p-button-warning:not(button):not(a):not(.p-disabled):hover {
	background-color: var(--yellow-500);
}

.button__tutorial{
	position: absolute;
	width: calc(40% - 10px);	
	left: calc(15% - 100px);
	/* left: calc(20% - 150px); */
	top: calc(100% - 98px);
	/* top: calc(100% - 68px); */
	/* grid-area: botonTutorial; */
	
}


.p-button.p-button-info, .p-buttonset.p-button-info > .p-button, .p-splitbutton.p-button-info > .p-button, .p-fileupload-choose.p-button-info {
    color: #ffffff;
    background: #0080ff;
    border: 1px solid #0080ff;
}


@media (max-width: 768px) {
	.button__tutorial{
		position: absolute;
		/* width: calc(100% - 10px);	 */
		left: calc(28% - 100px);
		top: calc(100% - 5px);
		/* grid-area: botonTutorial; */
	}
}


	
