.card__container {
  width: 320px;
  /* padding-bottom: 30px; */
  align-content: center;
  justify-content: center;
  /* margin-left: 30px; */

}

.p-badge.p-badge-lg {
  font-size: 1.125rem;
  min-width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  border-radius: 5px;
}

.p-badge.p-badge-warning {
  background-color: var(--green-500);
  color: #ffffff;
}

.header__card{
  position: relative;
    display: inline-block;
    text-align: center;
    border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header__card-img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.texto-header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
 
}

.card__description{
 overflow: hidden;
}
