.logo__Ureview{
	margin: 0px auto;
	position: relative;
	width: 100%;
	grid-area: logoUreview;
}

.img{
	 width:100%;
	}

  .img img{
	width: 100%;
  }




.profile__about{
	width: 90px;
	border-radius: 50px;
}